* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-shadow: black;
}

h2 {
  font-size: 3em;
  color: #ec3333;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: bolder;
}

h4 {
  font-size: 1.5em;
  font-weight: bolder;
}

p {
  font-size: 2em;
}

a {
  color: black;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
  padding-bottom: 10px;
}

a:hover {
  color: #ec3333;
  right: 0;
  text-decoration: none;
}

a:hover:after {
  border-color: #ec3333;
  right: 0;
}

a:after {
  border-radius: 1em;
  border-top: 0.1em solid #ec3333;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0, 0.5, 0, 1) infinite;
  border-color: #ec3333;
}

@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}
li {
  padding-bottom: 20px;
}

ol {
  list-style-type: disc;
}

header {
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 10px 0px;
  border-bottom: 2px solid #ec3333;
}
header nav {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: #ec3333 3px solid;
}
header nav ul {
  list-style: none;
}
header .offcanvas-header {
  border-bottom: #ec3333 solid 3px;
}

button {
  display: inline-block;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 0.75rem 1.25rem;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ec3333;
  border-radius: 10px;
  z-index: -2;
}
button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c11212;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
button:hover {
  color: #fff;
}
button:hover:before {
  width: 100%;
}

#navTitulo {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  color: #ec3333;
}

.iconoNav {
  width: 52px;
  margin-right: 25px;
  padding-bottom: 15px;
}

.nav-link {
  font-weight: bold;
}
.nav-link a {
  color: #ec3333;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
}
.nav-link a:hover {
  color: #ec3333;
  right: 0;
  text-decoration: none;
}
.nav-link a:hover:after {
  border-color: #ec3333;
  right: 0;
}
.nav-link a:after {
  border-radius: 1em;
  border-top: 0.1em solid #ec3333;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}
.nav-link a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0, 0.5, 0, 1) infinite;
  border-color: #ec3333;
}
@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}

.btnNav {
  width: 40;
  border: none;
  border-radius: none;
  opacity: none;
}

.iconNav {
  display: block;
  width: 30px;
  height: 30px;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

input.button {
  background-color: #ec3333;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.boton_naranja {
  display: inline-block;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 0.75rem 1.25rem;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.boton_naranja:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff8a00;
  border-radius: 10px;
  z-index: -2;
}
.boton_naranja:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #b36100;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.boton_naranja:hover {
  color: #fff;
}
.boton_naranja:hover:before {
  width: 100%;
}

footer {
  text-align: center;
  border-top: 2px solid #ec3333;
  background-color: rgb(250, 250, 250);
  font-weight: bold;
  padding: 10px 10px;
}

#hero_inicio {
  text-align: center;
  margin: 0;
  padding: 80px 30px;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/burguer_inicio.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
#hero_inicio h1 {
  font-family: "Pacifico", cursive;
  font-size: 5em;
  color: #ec3333;
}

.popular_burga {
  margin: 0;
  padding: 100px 30px;
  text-align: center;
}

.carta1 {
  width: 100%;
  height: 450px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  text-align: left;
  overflow: hidden;
  background-color: #ff8a00;
  padding: 30px 30px;
  margin: 0;
  border-radius: 20px;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.carta1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carta2 {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  text-align: left;
  overflow: hidden;
  background-color: #ec3333;
  padding: 40px 30px;
  margin: 0px;
  border-radius: 20px;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.carta2 input.button {
  background-color: #ff8a00;
}
.carta2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.delivery_inicio {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  padding: 100px 30px;
  font-weight: bold;
}
.delivery_inicio img {
  width: 40vw;
}

#hero_menu {
  text-align: center;
  margin: 0;
  padding: 80px 30px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/burguers_menu.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

#hero_sobre_nosotros {
  text-align: center;
  margin: 0;
  padding: 80px 30px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/sobre_nosotros_fondo.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

#seccion_sobre_nosotros {
  text-align: left;
  padding: 100px 100px;
}
#seccion_sobre_nosotros h2 {
  text-align: center;
}
#seccion_sobre_nosotros h3 {
  font-size: 2em;
  text-align: center;
  color: black;
}

#hero_nuestros_servicios {
  text-align: center;
  margin: 0;
  padding: 80px 30px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/nuestros_servicios.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.carta_nuestros_servicios {
  text-align: left;
  padding: 80px 30px;
  margin: 100px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#seccion_nuestros_servicios {
  font-size: 1.5em;
  padding: 0px 100px;
}
#seccion_nuestros_servicios h2 {
  text-align: center;
}

.cartasNS {
  padding: 200px 40px;
}

.card {
  justify-content: center;
  align-items: center;
}
.card img {
  object-fit: cover;
}

.titulo-carta {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

#hero_donde_encontrarnos {
  text-align: center;
  margin: 0;
  padding: 80px 30px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/donde_encontrarnos_fondo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.mapa {
  text-align: center;
  padding-top: 30px;
}

iframe {
  align-items: center;
  padding: 50px 50px;
  width: 80vw;
  height: 60vh;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
  }
  button {
    font-size: 1.2em;
  }
  .boton_naranja {
    font-size: 1.2em;
  }
  input.button {
    font-size: 1rem;
  }
  #hero_inicio h1 {
    font-size: 3rem;
  }
  .carta1 {
    height: 500px;
    text-align: center;
    padding: 10px;
  }
  .carta1 img {
    height: 200px;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .carta1 p {
    text-align: left;
  }
  .carta2 {
    height: 500px;
    padding: 10px;
    text-align: center;
  }
  .carta2 img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .carta2 p {
    text-align: left;
  }
  .cardmq {
    display: flex;
    flex-direction: column-reverse;
  }
  .delivery_inicio {
    width: 100%;
  }
  .delivery_inicio img {
    width: 0;
  }
  #hero_sobre_nosotros h1 {
    font-size: 3.5rem;
  }
  #seccion_sobre_nosotros {
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  #seccion_sobre_nosotros h2 {
    font-weight: bold;
  }
  #seccion_sobre_nosotros h3 {
    font-size: 1.5rem;
  }
  #hero_nuestros_servicios h1 {
    font-size: 2.5rem;
  }
  .seccion_nuestros_servicios {
    width: 95vw;
  }
  .card {
    padding: 10px;
    margin: 0;
  }
  .card img {
    height: 200px;
  }
  .titulo-carta {
    font-size: 1.5rem;
  }
  #seccion_nuestros_servicios {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  #hero_donde_encontrarnos h1 {
    font-size: 2.5rem;
  }
  iframe {
    width: 90vw;
    height: 50vh;
    padding: 0;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
