
 @media (max-width: 600px){
    h1{font-size: 4rem;}
    h2{font-size: 3.5rem;}
    h3{font-size: 3.3rem;}
    h4{font-size: 1.3rem;}
    p{font-size: 1.3rem;}
    button{font-size: 1.5em;}
    .boton_naranja{font-size: 1.5em;}
    .carta1{ height: 350px;}
    .carta2{height: 350px;}
    input.button{font-size: 1.3rem;}
    ul{padding: 10px;}
    iframe{
        width: 500px;
        margin: 10px;
        padding: 30px;
    }
    
}
    